:root {
    --textColor: #091415;
    --backgroundColor: #f1f8f9;
    --primaryColor: #82c1c9;
    --secondaryColor: #bfdfe3;
    --accentColor: #408c96;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.o-wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    background-color: var(--backgroundColor);
}

header {
    background-color: var(--primaryColor);
    padding: 2rem;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none
}

a {
    text-decoration: none;
    color: var(--textColor);
    font-size: .925rem;
}

/* section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: #408c96;
    padding: 10px;
} */

.grid__container {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    overflow: hidden;
}


.drid__container img {
    width: 100%;
}